* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right , #202B39 , #117693);
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: #ccc;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* to middle the container in page */
.container {
    padding-left:  15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

/* small screen */
@media (min-width:768px){
    .container {
        width: 750px;
    }
}

/* medium screen */
@media (min-width:768px){
    .container {
        width: 750px;
    }
}

/* large screen */
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}

.all-content {
    width: 80%;
    margin-top: 40px;
    position: relative;
    background-color: #177c8e;
    padding: 20px;
    border-radius: 8px;
    box-shadow:  4px 4px 16px #ffffffa7;
    cursor: pointer;
}

.all-content .header {
    position: relative;
    background-color: #e0dcdc;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ffffffa7;
}

.all-content .header .title {
    text-transform: capitalize;
}

.all-content .header .icon{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.all-content .header .icon , 
.all-content .header .icon i {
    transition: all 0.3s;
}

.header .icon:hover {
    color: #1dba88;
    background-color: #dedbdb;
    transform: scale(1.1);
}
.header .icon:hover i {
    transform: rotate(60deg);
}

.tasks {
    counter-reset: list-number; /* Initialize the counter */
}

.tasks .content {
    width: 90%;
    background-color: #ffffffdc;
    margin: 10px auto;
    border-radius: 8px;
    padding: 5px 20px;
    position: relative;
    box-shadow:  4px 4px 16px #ffffffa7;
    counter-increment: list-number;
    transition: all 0.3s;
}

.tasks .content::before {
    content: counter(list-number);
    position: absolute;
    top: 10px;
    left: -10px;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 14px;
    border: 1px solid #eee;
    font-weight: bold;
}

.tasks .content:hover {
    box-shadow:  4px 4px 16px #00000020;
}

.tasks .content .task-name {
    text-transform: capitalize;
}

.tasks .content .task-name .time {
    font-size: 14px;
    color: #777;
}

.tasks .content .task-name .time i {
    color: initial;
}

.tasks .content .task-name .time .current-time {
    text-transform: lowercase;
}

.tasks .content .task-icon ul {
    list-style: none;
}

.tasks .content .task-icon ul li {
    margin: 0 5px;
    font-size: 17px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}

.tasks .content .task-icon ul li:nth-child(1){
    background-color: rgb(0, 183, 255);
}

.tasks .content .task-icon ul li:nth-child(2){
    background-color: rgb(255, 0, 47);
}

.tasks .content .task-icon ul li:nth-child(3){
    background-color: rgb(13, 219, 116);
}

.tasks .content .task-icon ul li:hover {
    transform: translateY(-3px) rotate(6deg);
}

.tasks .content.isCompleted {
    background-color: #65e982;
    color: #000;
}
.tasks .content.isCompleted .task-icon li.changeIcon {
    border: 1px solid white;
}

@media (max-width:767px) {
    .tasks .content {
        width: 100%;
    }

    .tasks .content .task-icon ul {
        flex-direction: column;
    }

    .tasks .content .task-icon ul li,
    .tasks .content .task-name {
        font-size: 14px;
        margin: 2px 0;
    }

    .tasks .content .task-name h4 {
        margin-bottom: 5px;
    }
    .title h3 {
        font-size: 16px;
    }
}

.deleteAllBtn {
    width: 90%;
    margin: 20px auto;
}

.deleteAllBtn button {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: #BE133D;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.deleteAllBtn button:hover {
    background-color: #911135;
    box-shadow:  4px 4px 16px #ffffffa7;
}